* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  padding: 15px;
  margin: 0;
  /*background-image: url('background_53876-32175.avif');*/
  /*background-image: url('bg.webp');*/
  background-color: rgb(168, 167, 167);
  user-select: none;
}

/* Profile Styles */
.profile {
  width: 95%;
  max-width: 500px;
  margin: 80px auto;
  text-align: center;
  padding: 20px;
  background-color:none;
  border-radius: 10px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid white;
  margin-bottom: 5px;
}

.profile h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.profile .username {
  color: rgb(69, 61, 61);
  font-size: large;
  margin-bottom: 5px;
}

.profile .about {
  font-weight: bolder;
  margin-bottom: 5px;
}

.profile .bio {
  font-size:15px;
  color: rgb(56, 55, 55);
  margin-bottom: -70px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  position: relative;
  size: 15%;
}

.social-icon {
  width: 22px;
  height: 25px;
  object-fit: contain;
}

.social-icon {
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.05);
}

/* Image Carousel Styles */
#slider {
  position: relative;
  width: 60%;
  height: 30vw;
  margin: 120px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type=radio] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
}

#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: rgb(34, 31, 31);
  font-size: 70px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slider label img:hover {
  transform: scale(1.03) ;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
}

/* Slider Functionality */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(26, 1, 1, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(23, 1, 1, 0.774), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}

/* Gallery Styles */
.img-gallery {
  width: 95%;
  margin: 20px auto 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 16px;
  grid-auto-flow: dense;
}

.img-gallery img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  display: block;
  border-radius: 0%;
  border: 7px solid beige;
  /*border-bottom: 0px white;*/
  box-sizing: border-box;  
  cursor: pointer;
  transition: 0.4s;
}

.img-gallery .landscape {
  grid-column: span 2;
}

.img-gallery img:hover {
  transform: scale(1.05) ;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
}

.full-img {
  width: 100%;
  height: 100vh;
  /*background-image: url('background_53876-32175.avif');*/
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.full-img img {
  max-width: 90%;
  max-height: 90%;
  object-fit:contain;
}

.full-img .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  background: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

.full-img .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: white;
  cursor: pointer;
  background: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.full-img .left {
  left: 20px;
}

.full-img .right {
  right: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .img-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .img-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .img-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .img-gallery .landscape {
    grid-column: span 1;
  }
}